.button {
    display: inline-block;
    font-size: 1.125em;
    font-weight: 600;
    background-color: $colors-white;
    text-transform: uppercase;
    padding: 16px 126px 18px 126px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.16);
    text-align: center;
    color: $colors-dark;
    transition: background-color 0.13s $transition-regular;

    @include breakpoint($small-only) {
        padding: 16px 64px 18px 64px;
    }

    &--small {
        padding: 16px 48px 18px 48px;
    }

    &--shadowless {
        box-shadow: none;
    }

    &:hover {
        background-color: $colors-white;
        color: $colors-black;
        text-decoration: none;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.67;
    }

    &--alt {
        border-radius: 10px;
        font-size: 0.9375em;
        font-weight: 300;
        padding: 18px 64px 18px 64px;
        box-shadow: none;
    }

    &--block {
        display: block;
    }

    &--block-on-touch {
        @include breakpoint($touch) {
            display: block;
            width: 100%;
        }
    }

    @include mixColors {
        background-color: $backgroundColor;
        color: $fontColor;

        &:hover {
            color: $fontColor;
            background-color: lighten($backgroundColor, 5);
        }
    }
}

button.button {
    border: 0;
    cursor: pointer;
}