.gauge {
  position: relative;
  background-color: yellow;

  &__circle {
    position: absolute;
    bottom: 8px;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #FFF;
    border-radius: 1000px 1000px 0 0;
    box-shadow: 0 0 48px rgba(black, .4);

  }

  &__titles {

  }
}


.gauge {
  &__phase { fill: rgba(white, .2); }

  &--phase-1 {
    .gauge__phase-1 { fill: currentColor; }  
  }

  &--phase-2 {
    .gauge__phase-1,
    .gauge__phase-2 { fill: currentColor; }  
  }

  &--phase-3 {
    .gauge__phase-1,
    .gauge__phase-2,
    .gauge__phase-3 { fill: currentColor; }  
  }

  &--phase-4 {
    .gauge__phase-1,
    .gauge__phase-2,
    .gauge__phase-3,
    .gauge__phase-4 { fill: currentColor; }  
  }

  &--phase-5 {
    .gauge__phase-1,
    .gauge__phase-2,
    .gauge__phase-3,
    .gauge__phase-4,
    .gauge__phase-5 { fill: currentColor; }  
  }

  // ARTHUR: Por favor, substitui essas cores pelas cores certas da interface

  &--red { color: red; }
  &--green { color: green; }
  &--blue { color: blue; }
  &--yellow { color: yellow; }
}

