.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $colors-dark-blue;
    padding: 40px 20px;
    min-height: 60vh;
    max-height: 650px;

    @include breakpoint($large) {
        padding: 170px 0;
    }

    @include mixColors {
        background-color: $backgroundColor;
        color: $fontColor;

        .header-text {
            color: $fontColor;
        }
    }

    &--domain {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 0 0 0;

        @include breakpoint($large) {
            padding: 64px 0 0 0;
        }
    }

    &-title {
        position: relative;
        font-family: $fonts-strong;
        color: $colors-white-alt;
        text-transform: uppercase;
        font-size: 2.5em;
        text-align: center;
        font-weight: 900;
        padding-top: 110px;

        @include breakpoint($large) {
            font-size: 4em;
            margin-right: 10%;
            margin-left: 10%;
        }

        &::before {
            position: absolute;
            content: '';
            background-color: $colors-deep-yellow;
            width: 4px;
            height: 90px;
            top: 0;
            left: calc(50% - 2px);
        }
    }

    &-text {
        color: $colors-gray-blue;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;

        @include breakpoint($large) {
            margin: 0 33%;
        }
    }

    &__image {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-top: 32px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0.0) 100%);

        img, .missing-content {
            max-width: 100%;
        }
    }

    & + .app-body {
        margin-top: -24px;
    }
}

.section-title {
    padding: 40px 18px;
    text-align: center;
    text-transform: uppercase;
    
    @include mixColors {
        background-color: $backgroundColor;
        color: $fontColor;
    }

    & + .app-body {
        margin-top: -24px;
    }
}