.input {
    border: 0;
    border-radius: 10px;
    background-color: $colors-deep-blue;
    padding: 20px 48px;
    color: $colors-white;

    @include placeholder {
        color: rgba($colors-white, 0.26);
    }

    &--block {
        display: block;
        width: 100%;
        margin-bottom: 14px;
    }
}