.section-title {
    padding: 40px 18px;
    text-align: center;
    
    @include mixColors {
        background-color: $backgroundColor;
        color: $fontColor;
    }

    & + .app-body {
        margin-top: -24px;
    }
    
    &--uppercase {
        text-transform: uppercase;
    }
}