.voting-wrapper {
    width: 100%;
}

.voting-button {
  text-transform: uppercase;
  padding: 13px 18px 13px;
  border: 0;
  cursor: pointer;
  background-color: $colors-red-alt;
  border-radius: 4px;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  transition: all .6 ease-in;

  @include breakpoint($small-only) {
    width: 100%;
  }

  @include breakpoint($large) {
    & + & { margin-left: 16px; }
  }

  &--disabled { 
    background-color: rgba(black, .1); 
    pointer-events: none;
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;

    @include breakpoint($large) {
      margin-left: -140px !important;
    }
  }
}

.voting-votes {
  text-align: center;
  font-size: 4em;
  line-height: 1;

  @include mixColors {
    color: $colors-red-alt;
  }
}