<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-UA-XXXXXXXXX-X');
    </script>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content="" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  </head>

  <body>
    {{ content }}
    
    <footer class="footer">
      <div class="app-body footer__content">
        <div class="footer__column">
          <h4>Brought to you by</h4>
          <ul class="footer__brought-by">
            <li>
              <a href="#" target="_blank" rel="noopener">
                <img class="footer__partner-logo" src="/images/govlab-logo.png" width="128" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener">
                <img class="footer__partner-logo" src="/images/schmidt-logo.png" width="228" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener">
                <img class="footer__partner-logo" src="/images/nyu-logo.png" width="192" />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h4>About</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quod neque, iure odio accusantium autem aperiam ab, minima repellat sint consectetur, nobis qui magni nesciunt? Voluptatum iure odit deleniti eveniet.
          </p>
        </div>
      </div>
    </footer>

    <script src="{{ '/vendor/jquery-3.4.1.min.js' | relative_url }}"></script>
    <script src="{{ '/js/scripts.js' | relative_url }}"></script>
  </body>
</html>