---
---
@charset 'UTF-8';

// Fonts
@import url('https://use.typekit.net/mvc3cdb.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,900&display=swap');

// App body limits
$app-body-regular: 960px;
$app-body-large: 1366px;

@import 'breakpoints';

// Breakpoints variables
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;
$x-large: 85.374em;

// Importing Utils
@import 'utils';

// Typography variables
$fonts-primary: 'proxima-nova', sans-serif;
$fonts-secondary: serif;
$fonts-strong: 'Proxima Nova Black', 'Montserrat', 'proxima-nova', sans-serif;

// Vars for Colors
$colors-default: #0D4365;
$colors-white: #FFFFFF;
$colors-white-alt: #E7F0F7;
$colors-dark: #022840;
$colors-deep-dark: #001E31;
$colors-black: #000000;
$colors-cyan: #39B7CE;
$colors-gray-blue: #64869F;
$colors-purple: #6D33B8;
$colors-dark-blue: #0D4365;
$colors-light-dark-blue: #114B6F;
$colors-deep-blue: #0A3C5C;
$colors-blue: #36559C;
$colors-ice: #A6C8E3;
$colors-yellow: #FFCD13;
$colors-yellow-alt: #EBBF1A;
$colors-deep-yellow: #E5A50F;
$colors-dark-yellow: #E0B207;
$colors-salmon: #FA5E3D;
$colors-bright-green: #9FD378;
$colors-bright-green-alt: #8EBE6B;
$colors-green: #01B472;
$colors-green-alt: #00A367;
$colors-red: #FF0D2F;
$colors-red-alt: #E50C2A;
$colors-red-alt-2: #EB3B3B;
$colors-tomato: #DB4C2E;
$colors-pink: #E80D62;

$transition-regular: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-bounce: cubic-bezier(0.25, 1.43, 0.35, 1.69);

@import 'base';
@import 'main';

@import 'components/button';
@import 'components/header';
@import 'components/quote-card';
@import 'components/profile-cards';
@import 'components/footer';
@import 'components/accordion';

@import 'custom';
@import 'dev';
