.app-body {
  margin-left: 20px;
  margin-right: 20px;

  @include breakpoint($large) {
    margin-left: auto;
    margin-right: auto;
    max-width: $app-body-regular;
  }

  &--large {
    @include breakpoint($large) {
      max-width: $app-body-regular;
    }

    @include breakpoint($x-large) {
      max-width: $app-body-large;
    }
  }

  &-wrapper {
    background-color: $colors-white-alt;
    padding-bottom: 32px;
  }

  &-highlight {
    background-color: $colors-dark-blue;
  }
}

hr {
  margin: 64px 0 12px 0;
  height: 1px;
  border: 0;
  background-color: rgba($colors-dark-blue, 0.1);
}