<footer class="footer">
      <div class="app-body footer__content">
        <div class="footer__column">
          <h4>Brought to you by</h4>
          <ul class="footer__brought-by">
            <li>
              <a href="#" target="_blank" rel="noopener">
                <img class="footer__partner-logo" src="/images/govlab-logo.png" width="128" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener">
                <img class="footer__partner-logo" src="/images/schmidt-logo.png" width="228" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener">
                <img class="footer__partner-logo" src="/images/nyu-logo.png" width="192" />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h4>About</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quod neque, iure odio accusantium autem aperiam ab, minima repellat sint consectetur, nobis qui magni nesciunt? Voluptatum iure odit deleniti eveniet.
          </p>
        </div>
      </div>
    </footer>