<div class="navigation-overlay">
    <div class="navigation-overlay__background" aria-hidden="true"></div>
    <div class="navigation-menu">
        <div class="navigation-menu__wrapper" style="margin-top: 90px;">
            <div class="navigation-menu__navigation" style="padding: 64px 0 90px 0;">
                    <div class="navigation-menu__navigation-left">
                        <h2 class="navigation-menu__section-title">Domains</h2>
                        <div class="navigation-menu__section-content navigation-menu__section-content--columns">
                            <div class="navigation-menu__section-content__column">
                                <ul class="domain-level-list">
                                    <li class="domain-level-item">
                                        <span class="domain-level__title">Gender</span>
                                        <ul class="domain-level">
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark"></li>
                                            <li class="domain-level__mark"></li>
                                        </ul>
                                    </li>
                                    <li class="domain-level-item">
                                        <span class="domain-level__title">Migration</span>
                                        <ul class="domain-level">
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark"></li>
                                            <li class="domain-level__mark"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="navigation-menu__section-content__column">
                                <ul class="domain-level-list">
                                    <li class="domain-level-item">
                                        <span class="domain-level__title">Gender</span>
                                        <ul class="domain-level">
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark domain-level__mark--marked"></li>
                                            <li class="domain-level__mark"></li>
                                            <li class="domain-level__mark"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-menu__navigation-right navigation-menu__navigation-right--hr">
                        <h2 class="navigation-menu__section-title">More information</h2>
                        <div class="navigation-menu__section-content">
                            <nav class="navigation-menu__options-wrapper">
                                <ul class="navigation-menu__options" role="navigation">
                                    <li><a href="/index.html">Homepage</a></li>
                                    <li><a href="#">Bilinguals</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Partners</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
        </div>
        <div class="navigation-menu__wrapper navigation-menu__wrapper--blue navigation-menu__footer">
            <div class="navigation-menu__navigation">
                    <div class="navigation-menu__navigation-left" style="padding-right:0;flex:1;">
                        {% include _newsletter-section.html %}
                    </div>
                    <div class="navigation-menu__navigation-right navigation-menu__brought-by">
                        <h4 class="navigation-menu__brought-by-title">Brought to you by</h2>
                        <ul class="navigation-menu__brought-by-list">
                            <li>
                                <a href="#" target="_blank" rel="noopener">
                                    <img class="footer__partner-logo" src="/images/govlab-logo.png" width="128" />
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" rel="noopener">
                                    <img class="footer__partner-logo" src="/images/schmidt-logo.png" width="228" />
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" rel="noopener">
                                    <img class="footer__partner-logo" src="/images/nyu-logo.png" width="192" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="navigation-overlay__bar-wrapper">
        <button class="navigation-overlay__menu-button">
            <div class="navigation-overlay__menu-icon">
                <img class="navigation-overlay__menu-open active" src="/images/menu-closed.svg" aria-label="Open navigation menu" />
                <img class="navigation-overlay__menu-close" src="/images/menu-open.svg" aria-label="Close navigation menu" />
            </div>
        </button>
        <div class="navigation-bar">
            <ul class="navigation-bar__menu">
                <li class="navigation-bar__menu-option"><a href="#">Join us</a></li>
            </ul>
        </div>
    </div>
</div>