<section class="newsletter-section">
        <div class="newsletter-section__left">
            <h2>
                Lorem ipsum dolor sit
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laboriosam repellendus ipsa reprehenderit hic odit minima ad architecto quasi esse? Obcaecati omnis eligendi itaque fugit accusamus quod neque quae facere.
            </p>
        </div>
        <div class="newsletter-section__right">
            <form>
                <input class="input input--block" id="name" type="text" placeholder="Name" />
                <input class="input input--block" id="email" type="email" placeholder="E-mail" />
                <div style="text-align: right;">
                    <button class="button button--alt button--yellow button--block-on-touch">Subscribe</button>
                </div>
            </form>
        </div>
    </section>