---
layout: default
title: Domain cards
---
<div class="app-body-wrapper">
    <header class="header">
        <h1 class="header-title">Domain cards</h1>
        <p class="header-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa repellat dolorem asperiores, harum repudiandae deserunt velit, suscipit facilis neque soluta</p>
    </header>
    <hr class="clear-divider" />
    <main class="app-body app-body--large">
        <ul class="domain-card-list">
            <li>
                <div class="domain-card domain-card--left-columns-borders">
                    <div class="domain-card__content">
                        <div class="domain-card__domain">
                            <h2>Domain name</h2>
                            <h3>Partner identification</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis expedita minus dicta omnis veniam odit a minima nulla ea quidem laboriosam soluta at tempore, aspernatur quas, sequi, non unde!</p>
                        </div>
                        <div class="domain-card__partners">
                            <ul class="domain-card-partner-list">
                                <li>Partner A</li>
                                <li>Partner B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="domain-card__gauge-wrapper">
                        <div class="domain-card__gauge">
                            {% include _side-gauge.html %}
                        </div>
                    </div>
                </div>
                <div class="domain-card__button-wrapper">
                    <a href="#" class="button">Learn more</a>
                </div>
            </li>
            <li>
                <div class="domain-card domain-card--right-columns-borders">
                    <div class="domain-card__content">
                        <div class="domain-card__domain">
                            <h2>Domain name</h2>
                            <h3>Partner identification</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis expedita minus dicta omnis veniam odit a minima nulla ea quidem laboriosam soluta at tempore, aspernatur quas, sequi, non unde!</p>
                        </div>
                        <div class="domain-card__partners">
                            <ul class="domain-card-partner-list">
                                <li>Partner A</li>
                                <li>Partner B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="domain-card__gauge-wrapper">
                        <div class="domain-card__gauge">
                            {% include _side-gauge.html %}
                        </div>
                    </div>
                </div>
                <div class="domain-card__button-wrapper">
                    <a href="#" class="button">Learn more</a>
                </div>
            </li>
            <li>
                <div class="domain-card">
                    <div class="domain-card__content">
                        <div class="domain-card__domain">
                            <h2>Domain name</h2>
                            <h3>Partner identification</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis expedita minus dicta omnis veniam odit a minima nulla ea quidem laboriosam soluta at tempore, aspernatur quas, sequi, non unde!</p>
                        </div>
                        <div class="domain-card__partners">
                            <ul class="domain-card-partner-list">
                                <li>Partner A</li>
                                <li>Partner B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="domain-card__gauge-wrapper">
                        <div class="domain-card__gauge">
                            {% include _side-gauge.html %}
                        </div>
                    </div>
                </div>
                <div class="domain-card__button-wrapper">
                    <a href="#" class="button">Learn more</a>
                </div>
            </li>
        </ul>
    </main>
    <hr class="clear-divider" />
</div>

<div class="app-body-highlight">
    <div class="app-body">
        {% include _newsletter-section.html %}
    </div>
</div>