---
layout: default
title: Domain cards
---
<div class="app-body-wrapper">
    <header class="header">
        <h1 class="header-title">Domain cards</h1>
        <p class="header-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa repellat dolorem asperiores, harum repudiandae deserunt velit, suscipit facilis neque soluta</p>
    </header>
    <hr class="clear-divider" />
    <main class="app-body app-body--large">
        <ul class="domain-card-list">
            <li>
                <div class="domain-card domain-card--left-columns-borders">
                    <div class="domain-card__content">
                        <div class="domain-card__domain">
                            <h2>Domain name</h2>
                            <h3>Partner identification</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis expedita minus dicta omnis veniam odit a minima nulla ea quidem laboriosam soluta at tempore, aspernatur quas, sequi, non unde!</p>
                        </div>
                        <div class="domain-card__partners">
                            <ul class="domain-card-partner-list">
                                <li>Partner A</li>
                                <li>Partner B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="domain-card__gauge-wrapper">
                        <div class="domain-card__gauge">
                            {% include _side-gauge.html %}
                        </div>
                    </div>
                </div>
                <div class="domain-card__button-wrapper">
                    <a href="#" class="button">Learn more</a>
                </div>
            </li>
            <li>
                <div class="domain-card domain-card--right-columns-borders">
                    <div class="domain-card__content">
                        <div class="domain-card__domain">
                            <h2>Domain name</h2>
                            <h3>Partner identification</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis expedita minus dicta omnis veniam odit a minima nulla ea quidem laboriosam soluta at tempore, aspernatur quas, sequi, non unde!</p>
                        </div>
                        <div class="domain-card__partners">
                            <ul class="domain-card-partner-list">
                                <li>Partner A</li>
                                <li>Partner B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="domain-card__gauge-wrapper">
                        <div class="domain-card__gauge">
                            {% include _side-gauge.html %}
                        </div>
                    </div>
                </div>
                <div class="domain-card__button-wrapper">
                    <a href="#" class="button">Learn more</a>
                </div>
            </li>
            <li>
                <div class="domain-card">
                    <div class="domain-card__content">
                        <div class="domain-card__domain">
                            <h2>Domain name</h2>
                            <h3>Partner identification</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis expedita minus dicta omnis veniam odit a minima nulla ea quidem laboriosam soluta at tempore, aspernatur quas, sequi, non unde!</p>
                        </div>
                        <div class="domain-card__partners">
                            <ul class="domain-card-partner-list">
                                <li>Partner A</li>
                                <li>Partner B</li>
                            </ul>
                        </div>
                    </div>
                    <div class="domain-card__gauge-wrapper">
                        <div class="domain-card__gauge">
                            {% include _side-gauge.html %}
                        </div>
                    </div>
                </div>
                <div class="domain-card__button-wrapper">
                    <a href="#" class="button">Learn more</a>
                </div>
            </li>
        </ul>
    </main>
    <hr class="clear-divider" />
</div>

<div class="app-body-highlight">
    <section class="newsletter-section app-body">
        <div class="newsletter-section__left">
            <h2>
                Lorem ipsum dolor sit
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laboriosam repellendus ipsa reprehenderit hic odit minima ad architecto quasi esse? Obcaecati omnis eligendi itaque fugit accusamus quod neque quae facere.
            </p>
        </div>
        <div class="newsletter-section__right">
            <form>
                <input class="input input--block" id="name" type="text" placeholder="Name" />
                <input class="input input--block" id="email" type="email" placeholder="E-mail" />
                <div style="text-align: right;">
                    <button class="button button--alt button--yellow button--block-on-touch">Subscribe</button>
                </div>
            </form>
        </div>
    </section>
</div>