---
layout: default
title: Domain
---
<div class="app-body-wrapper">
    <header class="header header--domain header--salmon header__orange-background">
        <h1 class="header-title">Domain name</h1>
        <p class="header-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa repellat dolorem asperiores, harum repudiandae deserunt velit, suscipit facilis neque soluta</p>
        <div class="header__image">
            <!-- <img src="" /> -->
            {% include _gauge.html %}
        </div>
    </header>
    <section class="section-title section-title--salmon">
        <h2>Questions</h2>
    </section>
    <main class="app-body">
        <ul class="card-list">
            {% for i in (1..8) %}
            {% include _question-card-1.html %}
            {% endfor %}
        </ul>
    </main>
</div>

<div class="app-body-highlight">
    <div class="app-body">
        {% include _newsletter-section.html %}
    </div>
</div>